* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial, Helvetica, sans-serif';
    line-height: 1.7;
    color: #222;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background: #ffffff;
    border-bottom: 1px solid #c0c0c0;
    position:sticky;
    top:0;  
    z-index:1000;

}

.nav-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-menu li a{
    font-family: 'Georgia, "Times New Roman", serif';
    text-decoration:none;
    color:#000;
    font-weight:500;
    font-size:16px;
    letter-spacing:1px;
    text-transform:none;
    padding:10px 0;
    display:block;
    transition:0.3s;
}

.nav-menu li.active{
    border-bottom:3px solid #0056b3;
}

.nav-menu li a.active{
    color:#0056b3;
    font-weight:750;
}

.nav-menu li:hover{
    border-bottom:3px solid #0056b3;
}

.nav-menu li a:hover{
    color:#0056b3;
}

.dropdown-menu{
    position:static;
    top:100%;
    left:0;
    background:white;
    list-style:none;
    flex-direction: column;
    padding:10px 0;
    min-width:180px;
    display:none;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.dropdown-menu li{
    padding:8px 20px;
}

.dropdown-menu li a{
    color:#333;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

/* Banner Home Page  */
.hero-banner {
    width: 100%;
    height: auto;         
    overflow: hidden;          
    cursor: default;
}

.hero-banner img {
    width: 100%;            
    height: auto;
    object-fit: contain;          
    display: block;
}

.hero-banner.active {
    cursor: grabbing;
}

/* Page Banner */
.page-banner{
    width:100%;
    max-width:100%;
    height: auto;
    overflow:hidden;
}

.page-banner img{
    width:100%;
    height:auto;
    display:block;
}

/* Home Page Banner */
.hero-banner {
    width: 100%;
    height: 130vh;         
    overflow: hidden;
    cursor: default;
}

.hero-banner img {
    width: 100%;
    min-width: 1200px;              
    height: auto;
    object-fit: contain;          
    display: block;
}

.hero-banner.active {
    cursor: grabbing;
}

/* HOME */
.home-section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    font-family: Georgia, "Times New Roman", serif;
    padding-top: 40px;
    padding-bottom: 40px;
}

.home-section h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: left;
    color: #1d2b4f;
    margin-bottom: 10px;
}

.home-section h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #003d80;
}

.home-link-highlight {
    color: #0056b3;
    font-weight: 600;
    text-decoration: none;
}

.home-link-highlight:hover {
    text-decoration: underline;
}

.home-content{
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    color: #6f7785;
    font-size: 18px;
    line-height: 1.9;
}

.home-content p {
    margin-bottom: 12px;
}

.home-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.home-content ul li {
    margin-bottom: 8px;
}

.home-content-box ol {
    padding-left: 25px;
    margin-top: 10px;
}

.home-content-box ol li {
    margin-bottom: 8px;
}

/* ===== PARTNERS ===== */
.partners {
    border-top: #a19f9f solid 1px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 20px;
    background: #ffffff;
    flex-wrap: wrap;
}

.partner-item {
    text-align: center;
}

.partner-item h3 {
    font-size: 20px;
    color: #6f7785;
}
.partner-item a {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #4c9cbb;
}
.partner-item img {
    width: 200px;
    height: 200px;
}

/* CALL FOR PAPER */
.cfp-container{
    max-width:900px;
    margin:120px auto 80px auto;
    font-family: Georgia, "Times New Roman", serif;
}

.cfp-title{
    text-align:left;
    font-size:26px;
    color:#1d2b4f;
    font-weight:bold;
    margin-bottom:10px;
}

.cfp-content{
    color:#6f7785;
    font-size:18px;
    line-height:1;
}

.cfp-section{
    margin-top:40px;
    font-size:20px;
    color: #6f7785;
}

.cfp-content ul{
    margin-top:10px;
    margin-bottom:30px;
    padding-left:30px;
}

.cfp-content li{
    margin-bottom:10px;
}

/* ===== SUBMISSION ===== */

.submission-container{
    max-width: 1000px;
    margin: 120px auto 80px auto;
    padding: 40px;
    font-family: Georgia, "Times New Roman", serif;
}

.submission-title{
    text-align: left;
    font-size: 40px;
    margin-bottom: 40px;
}

.submission-content{
    color: #6f7785;
    line-height: 1.8;
    font-size: 18px;
}

.submission-section{
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

.submission-content ul{
    margin-top: 10px;
    padding-left: 20px;
}

.submission-content li{
    margin-bottom: 10px;
}

.link-highlight{
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

.link-highlight:hover{
    text-decoration: underline;
}

/* COMMITTEE */
.committee-container{
max-width: 1100px;
margin: 120px auto 80px auto;
padding: 40px;
font-family: Georgia, "Times New Roman", serif;
}

.committee-title-main{
text-align: left;
font-size: 40px;
margin-bottom: 40px;
}

.committee-content{
font-size: 18px;
line-height: 1.8;
color: #6f7785;
}

.committee-section{
font-size: 22px;
font-weight: bold;
margin-top: 40px;
margin-bottom: 20px;
}

.committee-row{
display: grid;
grid-template-columns: 220px 20px auto;
margin-bottom: 15px;
}

.committee-role{
font-weight: bold;
}

.committee-names{
line-height: 1.7;
}

.scientific-list{
margin-top: 10px;
padding-left: 20px;
}

.scientific-list li{
margin-bottom: 6px;
}

/* CONTACT */
.contact-section{
    padding:60px 20px;
    max-width:1000px;
    margin:120px auto 80px auto;
    min-height:70vh;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", serif;
    color: #6f7785;
}

.contact-section h1{
    text-align:left;
    font-size:40px;
    color:#1d2b4f;
}

.contact-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
}

.contact-box p {
    margin-bottom: 10px;
}

.contact-email {
    font-weight: bold;
    color: #0056b3;
}

.contact-page{
    min-height:calc(100vh - 160px);
}   

/* FOOTER */
footer {
    background: #07184a;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size:14px;
}

footer a{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover{
    text-decoration: underline;
}

/* =====RESPONSIVE */
.menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
}

@media (max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-menu{
        position:absolute;
        top:70px;
        right:0;
        background:white;
        width:100%;
        flex-direction:column;
        align-items:center;
        display:none;
        padding:20px 0;
    }

    .nav-menu.active{
        display:flex;
    }

    .dropdown-menu{
        position:static;
        box-shadow:none;
    }

}