/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #222;
}

/* NAVBAR */
.navbar {
    background: #ffffff;
    border-bottom: 1px solid #c0c0c0;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #0056b3;
}

.nav-menu li a.active {
    color: #0056b3;
}

/* ===== BANNER ===== */
.hero-banner {
    width: 100%;
    height: 120vh;         
    overflow-x: auto;           
    overflow-y: hidden;
    cursor: grab;
}

.hero-banner img {
    width: 100%;
    min-width: 1200px;          
    height: 100%;
    object-fit: cover;          
    display: block;
}

.hero-banner.active {
    cursor: grabbing;
}

/* ==== ALT BANNER  */
.alt-banner {
    width: 100vw;
    overflow-x: auto; 
    overflow-y: hidden;
}

.alt-banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    min-width: 1200px;
}

@media (max-width: 768px) {
    .hero-banner {
        height: 60vh;
    }

    .hero-banner img {
        min-width: 1000px;  
    }
}

/* SECTION UTAMA*/
.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 26px;    
    margin-bottom: 10px;
    text-align: left;
    color: #000000;
}

.section h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #003d80;
}

.link-highlight {
    color: #0056b3;
    font-weight: 600;
    text-decoration: none;
}

.link-highlight:hover {
    text-decoration: underline;
}

.content-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
}

.content-box p {
    margin-bottom: 12px;
}

.content-box ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.content-box ul li {
    margin-bottom: 8px;
}

/* CALL FOR PAPER */
.cfp-container{
    max-width:900px;
    margin:120px auto 80px auto;
    font-family: Georgia, "Times New Roman", serif;
}

.cfp-title{
    text-align:left;
    font-size:26px;
    color:#1d2b4f;
    font-weight:bold;
    margin-bottom:10px;
}

.cfp-content{
    color:#6f7785;
    font-size:18px;
    line-height:1.9;
}

.cfp-section{
    margin-top:40px;
    font-size:20px;
    color:#6f7785;
}

.cfp-content ul{
    margin-top:10px;
    margin-bottom:30px;
    padding-left:30px;
}

.cfp-content li{
    margin-bottom:10px;
}

/* ===== TABLE SCHEDULE ===== */
.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.schedule-table tr:hover {
    background: #f1f1f1;
}

/* ===== REGISTRATION BOX ===== */
.price-box {
    background: #eef4ff;
    padding: 20px;
    margin-top: 20px;
    border-left: 5px solid #0056b3;
}

/* ===== PARTNERS ===== */
.partners {
    border-top: #a19f9f solid 1px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 20px;
    background: #ffffff;
    flex-wrap: wrap;
}

.partner-item {
    text-align: center;
}

.partner-item h3 {
    font-size: 20px;
    color: #6f7785;
}
.partner-item a {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #4c9cbb;
}
.partner-item img {
    width: 200px;
    height: 200px;
}

/* ===== COMMITTEE ===== */
.committee-list p {
    margin-bottom: 8px;
}

.committee-title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #0056b3;
}

.committee-row{
    display:flex;
    margin-bottom:12px;
}

.committee-role{
    width:220px;
    font-weight:bold;
}

.committee-sep{
    width:20px;
}

.committee-names{
    flex:1;
    line-height:1.6;
}

/* ===== CONTACT ===== */
.contact-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
}

.contact-box p {
    margin-bottom: 10px;
}

.contact-email {
    font-weight: bold;
    color: #0056b3;
}

/* ===== FOOTER ===== */
footer {
    background: #07184a;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size:14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

    .nav-menu {
        flex-direction: column;
        gap: 15px;
    }

    .partners {
        flex-direction: column;
        gap: 40px;
    }

}